@model Raffle.Models.LocalPasswordModel

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>set password</legend>
        <div class="control-group">
            <div class="controls">
                <div class="input-prepend input-append">
                    <span class="add-on">
                        <i class="icon-lock"></i>
                    </span>
                    @Html.PasswordFor(m => m.NewPassword, new { placeholder = "new password" })
                    <span class="add-on">
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="input-prepend input-append">
                    <span class="add-on">
                        <i class="icon-lock"></i>
                    </span>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "confirm new password" })
                    <span class="add-on">
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </span>
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="set password" />
    </fieldset>
}
