@model Raffle.Models.UserProfile
@{
    ViewBag.Title = "Dashboard";
}

<div class="container">
    <div class="row-fluid">
        <div class="span12">

            <h1>dashboard
        <small>manage your raffles and items</small>
            </h1>

            @if (((IQueryable<Raffle.Models.Raffle>)@ViewBag.LastPurchases).Any())
            {
                <fieldset>
                    <legend>my raffles
        <small>recently bought</small>
                        @Html.ActionLink("More", "NA", null, new { @class = "btn btn-primary" })
                    </legend>

                    <ul class="thumbnails">
                        @foreach (var raffle in (IQueryable<Raffle.Models.Raffle>)@ViewBag.LastPurchases)
                        {
                            Html.RenderPartial("_ItemPreviewPartial", raffle.Item);
                        }
                    </ul>
                </fieldset>
            }
            else
            {
                <div class="alert alert-info">
                    <strong>no raffles!</strong>
                    you haven't purchased any raffles yet
        @Html.ActionLink("search for raffles", "Index", "Home", null, new { @class = "btn btn-primary" })
                </div>
            }

            @if (((IQueryable<Raffle.Models.Item>)@ViewBag.MyItems).Any())
            { 
                <fieldset>
                    <legend>my items
        <small>recently added</small>
                        @Html.ActionLink("more", "NA", null, new { @class = "btn btn-primary" })
                        @Html.ActionLink("sell an item", "Create", "Item", null, new { @class = "btn btn-info" })
                    </legend>

                    <ul class="thumbnails">
                        @foreach (var item in (IQueryable<Raffle.Models.Item>)@ViewBag.MyItems)
                        {
                            Html.RenderPartial("_ItemPreviewPartial", item);
                        }
                    </ul>
                </fieldset>
            }
            else
            {
                <div class="alert alert-info">
                    <strong>no items!</strong>
                    you have not sold any items
        @Html.ActionLink("sell an item", "Create", "Item", null, new { @class = "btn btn-primary" })
                </div>
            }
        </div>
    </div>
</div>
