@model Raffle.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<h1>manage account
    <small>logged in as <strong>@User.Identity.Name</strong></small>
</h1>

<div class="row-fluid">
    <div class="span6">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        { 
            @Html.Partial("_SetPasswordPartial")
        }
    </div>
    <div class="span6">
        @Html.Action("RemoveExternalLogins")

        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </div>
</div>

<h2>purchase raffles
</h2>
<div class="row-fluid">
    <div class="span4">
        <h3>starter package</h3>
        <form id="starter" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="M7DKN9NY42Y7E">
            <input type="hidden" name="custom" value="@User.Identity.Name"/>
            <ul class="thumbnails">
                <li class="span2 tile">
                <a href="javascript:document.forms['starter'].submit();">
                    <h1>5€</h1>
                    <h2>5 raffles</h2>
                </a>
                </li>
            </ul>
        </form>

    </div>
    <div class="span4">
        <h3>normal package</h3>
        <form id="normal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="KAQP6E23WJVK6">
            <input type="hidden" name="custom" value="@User.Identity.Name"/>
            <ul class="thumbnails">
                <li class="span2 tile">
                <a href="javascript:document.forms['normal'].submit();">
                    <h1>9€</h1>
                    <h2>10 raffles</h2>
                </a>
                </li>
            </ul>
        </form>

    </div>
    <div class="span4">
        <h3>heavy package</h3>
        <form id="heavy" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="TSTEYXFWDP9MS">
            <input type="hidden" name="custom" value="@User.Identity.Name"/>
            <ul class="thumbnails">
                <li class="span2 tile">
                <a href="javascript:document.forms['heavy'].submit();">
                    <h1>12€</h1>
                    <h2>15 raffles</h2>
                </a>
                </li>
            </ul>
        </form>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}