@model Raffle.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<h1>manage account
    <small>logged in as <strong>@User.Identity.Name</strong></small>
</h1>

<div class="row-fluid">
    <div class="span6">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        { 
            @Html.Partial("_SetPasswordPartial")
        }
    </div>
    <div class="span6">
        @Html.Action("RemoveExternalLogins")

        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </div>
</div>

<h2>purchase raffles
</h2>
<div class="row-fluid">
    <div class="span4">
        <h3>starter package</h3>
        <ul class="thumbnails">
            <li class="span2 tile">
                <h1>7€</h1>
                <h2>5 raffles</h2>
            </li>
        </ul>
    </div>
    <div class="span4">
        <h3>normal package</h3>
        <ul class="thumbnails">
            <li class="span2 tile">
                <h1>13€</h1>
                <h2>10 raffles</h2>
            </li>
        </ul>
    </div>
    <div class="span4">
        <h3>heavy package</h3>
        <ul class="thumbnails">
            <li class="span2 tile">
                <h1>24€</h1>
                <h2>20 raffles</h2>
            </li>
        </ul>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}