@model Raffle.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

    <h2>
        manage account
        <small>logged in as <strong>@User.Identity.Name</strong></small>
    </h2>

<div class="row">
    <div class="span5">
        @if (ViewBag.HasLocalPassword)
        {
    @Html.Partial("_ChangePasswordPartial")
        }
        else
        { 
    @Html.Partial("_SetPasswordPartial")
        }
    </div>
    <div class="span5">
            @Html.Action("RemoveExternalLogins")

    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </div>
</div>

@*@{
var paypalButton = PayPal.ButtonManager.BuyNowButton.Create("Raffle", "Starter Package", "10.00");
}*@

@*@(new HtmlString(paypalButton.WebSiteCode))*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
