<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Raffle</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrap">
        <header class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    @Html.ActionLink("Raffle", "Index", "Home", null, new { @class = "brand" })
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row-fluid">
                @if (Request.IsAuthenticated)
                {
                    <div class="span2 well">
                        <ul class="nav nav-list">
                            <li>
                                @Html.ActionLink("What's New", "Index", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("Ending Soon", "Ending", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("Suggestions", "Suggestion", "Home")
                            </li>
                            <li class="divider"></li>
                            <li class="nav-header">Categories</li>

                            <li class="divider"></li>
                            <li>
                                <a href="#">FAQ</a>
                            </li>
                            <li>
                                <a href="#">Help</a>
                            </li>
                        </ul>
                    </div>
                    <div class="span10">
                        @RenderBody()
                    </div>
                }
                else
                {
                    @RenderBody()
                }

            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row-fluid">
                <div class="span4 text-left">
                    <span class="badge badge-info">@DateTime.Now.Year</span>
                    <span class="label label-info">Raffle</span>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
