<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Raffle</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        @Html.Partial("_LoginPartial")
        <div class="page-header well">
            <h1>raffle
        <small>small price, big value</small>
            </h1>
        </div>
    </header>
    <div id="body">
        @RenderBody()
    </div>
    <footer class="well">
        <span class="label label-info">@DateTime.Now.Year</span> Raffle
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
