<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Raffle</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a href="#" class="brand">
                        <img src="http://placehold.it/225x61" alt="Raffle" />
                    </a>
                    @Html.Partial("_LoginPartial")
                </div>
        </div>
        </div>

        @*<div class="page-header well">
            <h1>raffle
        <small>small price, big value</small>
            </h1>
        </div>*@
    </header>
    @RenderBody()
    @*    <footer>
        <div class="container">
            <div class="row-fluid">
                <div class="span4 text-left">
                    <span class="label label-info">@DateTime.Now.Year</span> Raffle
                </div>
            </div>
        </div>
    </footer>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
