@{
    Raffle.Models.UserProfile user = null;
    using (var ctx = new Raffle.Models.Context())
    {
        user = ctx.UserProfiles.FirstOrDefault(up => up.UserName == User.Identity.Name);
    }
}

@if (Request.IsAuthenticated)
{
    <ul class="nav nav-pills">
        <li>
            @Html.ActionLink(User.Identity.Name, "Manage", "Account")
            <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
            <span class="badge badge-info">@user.Money €</span>
            <span class="badge badge-info">@user.Reputation</span>
        </li>
    </ul>
    
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken();
    }
}
else
{
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
}
