@{
    Raffle.Models.UserProfile user = null;
    using (var ctx = new Raffle.Models.Context()){
        user = ctx.UserProfiles.FirstOrDefault(up => up.UserName == User.Identity.Name);
    }
}

@if (Request.IsAuthenticated) {
    <text>
        @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" }) @Html.DisplayFor(model => user.Money) €
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
