@model Raffle.Models.Item

@{
    ViewBag.Title = "Sell Item";
}

<h1>sell an item
    <small>add an item to raffle</small>
</h1>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="row-fluid">
        <div class="span7">
            <fieldset>
                <legend>general</legend>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend input-append">
                            <span class="add-on">
                                <i class="icon-pencil"></i>
                            </span>
                            @Html.TextBoxFor(m => m.Name, new { placeholder = "name", autofocus = "autofocus" })
                            <span class="add-on">
                                @Html.ValidationMessageFor(model => model.Name)
                            </span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend input-append">
                            <span class="add-on">
                                <i class="icon-pencil"></i>
                            </span>
                            @Html.TextAreaFor(m => m.Description, new { placeholder = "description" })
                            <span class="add-on">
                                @Html.ValidationMessageFor(model => model.Description)
                            </span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="span5">
            <fieldset>
                <legend>picture</legend>
                <input type="file" name="pic" accept="image/*" />
            </fieldset>
            <fieldset>
                <legend>category @Html.ValidationMessageFor(model => model.CategoryId)</legend>
                <div class="control-group">
                    <div class="controls">
                        @foreach (var category in ((IList<Raffle.Models.Category>)ViewBag.Categories))
                        {
                            <label class="radio">
                                @Html.RadioButtonFor(m => m.CategoryId, category.Id)
                                @category.Name
                            </label>
                        }
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <fieldset>
        <legend>pricing</legend>
        <div class="control-group">
            <div class="controls">
                <div class="input-append">
                    <span class="add-on">€
                    </span>
                    @Html.TextBoxFor(m => m.Price, new { placeholder = "price", type = "number" })
                    <span class="add-on">
                        @Html.ValidationMessageFor(model => model.Price)
                    </span>
                </div>
            </div>
        </div>
    </fieldset>
    <p>
        <input type="submit" class="btn btn-primary btn-large" value="sell" />
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
