@model Raffle.Models.Item
@{
    ViewBag.Title = Model.Name;
    var user = ((Raffle.Models.UserProfile)ViewBag.User);
    var hasBought = user.Raffles.Any(r => r.ItemId == Model.Id);
    var rafflesLeft = Model.TotalRaffleCount - Model.Raffles.Count;
    var isOwner = Model.OwnerId == user.UserId;
}

<h1>
    @Model.Name
    @if (!isOwner)
    { 
        <small>from <strong>@Model.Owner.UserName</strong></small>
    }
</h1>
<h2 class="lead">@Model.Description</h2>
<div class="row-fluid">
    <div class="span2">
        <ul class="thumbnails">
            <li class="span2 tile">
                <h1>@(Model.RafflePrice) €</h1>
                <h3>each</h3>
            </li>
        </ul>
    </div>
    <div class="span2">
        <ul class="thumbnails">
            <li class="span2 tile">
                <h1>@rafflesLeft</h1>
                <h3>left</h3>
            </li>
        </ul>
    </div>
    <div class="span8 well">
        @if (isOwner)
        {
            if (Model.CanBuy)
            { 
            <h2>raffling
                        <small>currently selling raffles</small>
            </h2>
            <span class="lead">when the last raffle has been sold we will provide you with more information</span>
            }
            else
            {
            <h2>sold
                    <small>the winner has been selected</small>
            </h2>
            <span class="lead">we sent you an email with the information of the winner to allow you to proceed with the shipping</span>
            }
        }
        else
        {
            if (!Model.CanBuy)
            {
                if (hasBought && user.Raffles.Any(r => r.ItemId == Model.Id && r.IsPrized == true))
                {
            <h2>congratulations
                    <small>you have won this item</small>
            </h2>
            <span class="lead">we have already contacted the seller with your information regarding the shipping process</span>
                }
                else
                {
            <h2>sorry
                    <small>you did not win this item</small>
            </h2>
            <span class="lead">you can see the winning raffle below. better luck next time</span>
                }
            }
            else
            {
                if (hasBought)
                {
            <h2>good luck
                    <small>raffle purchased</small>
            </h2>
            <span class="lead">when all the raffles are purchased we will announce the winner</span>
                }
                else
                {
            <h2>buy raffle
                        <small>proceed to purchase a raffle</small>
            </h2>
            @(new HtmlString(Model.PaypalCode))
                }
            }
        }
    </div>
</div>
@if (Model.Raffles.Any())
{
    <h2>purchases
        <small>raffles purchased for this item</small>
    </h2> 
    <ul class="thumbnails">
        @foreach (Raffle.Models.Raffle raffle in Model.Raffles)
        {
            var state = raffle.IsPrized.GetValueOrDefault() ? "tile-teal" : string.Empty;
            <li class="span2 tile @state">
                <h1>@raffle.RaffleNumber</h1>
                <h6>@@ @raffle.PurchasedAt</h6>
            </li>
    
        }
    </ul>
}
else
{
    <div class="well">
        <h3>purchases
            <small>purchases of this item will appear here</small>
        </h3>
    </div>
}

@if (((IQueryable<Raffle.Models.Item>)ViewBag.Related).Any())
{
    <h2>related
        <small>items in the same category</small>
    </h2>
    foreach (var item in (IQueryable<Raffle.Models.Item>)@ViewBag.Related)
    {
        Html.RenderPartial("_ItemPreviewPartial", item);
    }
}